@model IEnumerable<NorthWindOrder>

@{
    ViewData["Title"] = "Index";
    var sc = ViewBag.Condition as SearchCondition ?? new SearchCondition();
}

<div id="app">

    <comp-page-title></comp-page-title>
    <comp-page-form></comp-page-form>

    <div>
        總筆數：@ViewBag.RecordCount
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipVia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Freight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipCountry)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipVia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Freight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipCountry)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--頁面標題-->
<template id="tmpl-sql-demo">
    <div>
        <h2>Search Test For SQL Command Helper <small> {{ helperName }} </small></h2>
        <pre>
            @ViewBag.SqlCmd
        </pre>
    </div>
</template>

<template id="tmpl-sql-form">
    <!--頁面表單-->
    <div>
        <form id="frm" method="post">
            <label>EmployeeId</label>
            <input type="text" name="EmployeeId"  v-model="EmployeeId" /> <br />
            <label>OrderDate</label>
            <input type="text" name="OrderDateStart"  v-model="OrderDateStart" />
            <input type="text" name="OrderDateEnd"  v-model="OrderDateEnd" />
            <br />
            <label>ShipCity</label>
            <input type="text" name="ShipCity"  v-model="ShipCity" />
            <br />
            <label>
                Helper Type 1
                <input type="radio" name="HelperType" value="OrderSqlHelper" v-model="HelperType" />
            </label>
            <label>
                Helper Type 2
                <input type="radio" name="HelperType" value="OrderSqlHelper2" v-model="HelperType" />
            </label>
            <input type="button" v-on:click="reset" value="cleanup" />
            <input type="submit" value="Search" />
        </form>
    </div>
</template>

@section scripts{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
    <script>

        Vue.component('comp-page-title',{
            data:function(){
                return { helperName: '@ViewBag.HelperName' }
            },
            template:"#tmpl-sql-demo"
        })

        Vue.component('comp-page-form',{
            data:function(){
                return {
                     EmployeeId : '@sc.EmployeeId',
                     OrderDateStart:'@sc.OrderDateStart',
                     OrderDateEnd:'@sc.OrderDateEnd',
                     ShipCity:'@sc.ShipCity',
                     HelperType:'@sc.HelperType'
                }
            },
            methods:{
                reset:function(){
                    var $form = $("#frm")
                    $form.find(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('')
                    $form.find(':checkbox, :radio').prop('checked', false)
                }
            },
            template:"#tmpl-sql-form"
        })

        var vm = new Vue({
            el:"#app",
            data:{}

        })
    </script>
}