
<input type="hidden" id="data" data-model="@ViewBag.Data" data-helper="@ViewBag.HelperName" data-condition="@ViewBag.Condition" data-sql="@ViewBag.SqlCmd" />

<input type="hidden" id="vm" data-vm="@ViewBag.Vm"/>

<div id="app">
    <page-header :title="vm.HelperName" :sqlcmd="vm.SqlCmd"></page-header>
    <comp-page-form :condition="condition"></comp-page-form>
    <comp-page-list :model="model"></comp-page-list>
</div>

@section scripts{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
    <script src="~/dist/Sample.bundle.js"></script>
}